#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Local credentials directories
**/credentials/*

# Local directories
**/locals/*

# VS Code files
**/.vscode/*
