{% import_yaml "consul/defaults.yaml" as defaults %}

{% set consul = salt['pillar.get']('consul', default=defaults.consul, merge=True) %}

{% set consul = salt['grains.filter_by']({
        'armv61': {
            "arch": 'arm'
        },
        'armv71': {
            "arch": 'arm'
        },
        'x86_64': {
            "arch": 'amd64'
        }
    }
    ,grain="cpuarch"
    ,merge=consul)
%}

{# Determine if salt is running on locally on a VirtualBox VM #}
{% if salt['grains.equals'] ('virtual', 'VirtualBox') %}
{% do consul.config.update({'bind_addr': '172.30.1.5', 'retry_join': [], 'bootstrap_expect': 1}) %}
{% else %}
{% do consul.config.update({'retry_join': consul.config.retry_join or []}) %}
{% endif %}